<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <hgroup class="wrapper">
            <h1>Aseguradora - <small>Proyecto de aseguradora usando Fuzzy Logic</small></h1>
        </hgroup>
    </header>
    <section class="wrapper">        
        @RenderBody()
    </section>
    <footer>
        <div class="wrapper">
            <a href="http://twitter.com/adrfrank" target="_blank">Adrian Gonzalez</a> | Prolog | CUCEI UdG
        </div>
    </footer>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>
